body {
  padding: 0;
  margin: 0;
}
.header {
  height: 100px;
}
.logo {
  margin-top: 30px;
  float: left;
}

.menu {
  margin-top: 50px;
  float: left;
}
.menu ul li {
  float: left;
  list-style: none;
  margin-left: 50px;
  text-transform: uppercase;
  color: #b1cd4b;
  font-size: 15px;
}

.center-page {
  height: auto;
}

.viewpage1 .img-face img {
  width: 100%;
  height: auto;
}

.text-skin-care {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #b1cd4b;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 300px;
}
.text-infor-care {
  font-weight: 350;
  color: #b1cd4b;
  font-size: 18px;
  line-height: 20px;
}

.viewpage2 {
  padding-top: 50px;
}
.text-list-product {
  font-weight: 800;
  text-transform: uppercase;
  color: #b1cd4b;
  font-family: sans-serif;
  font-size: 25px;
}

.product .product-view {
  margin: 5px;
  border: #b1cd4b 1px solid;
  border-radius: 5px;
}
.product .product-view img {
  width: 100%;
  height: 300px;
  border: none;
}
.product .product-view .infor-product p {
  font-size: 15px;
  font-weight: 300;
  color: black;
  font-family: sans-serif;
  margin-left: 30px;
}
.product .product-view .infor-product strong {
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  color: black;
  margin-left: 30px;
}
.product .product-view .button {
  margin: 30px;
}
.product .product-view .button button {
  width: 100%;
  height: 50px;
  background-color: #7da000;
  border: #7da000;
  border-radius: 5px;
  font-family: sans-serif;
  color: aliceblue;
  font-weight: 600;
}
.viewpage3 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-prototies {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  font-family: sans-serif;
  color: #b1cd4b;
}

.content-prototies {
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  color: #b1cd4b;
  text-align: center;
  padding-top: 50px;
}
.infor-company1 .image-face2 .img-theface {
  text-align: center;
}
.infor-company1 .image-face2 .img-theface img {
  width: 400px;
  height: auto;
  border: none;
}
.text-infor-company1 {
  text-align: center;
}
.text-infor-company1 .text-company {
  color: #b1cd4b;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 50px;
}
.text-infor-company1 .text-name-company {
  color: #b1cd4b;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 50px;
}
.text-infor-company1 .text-name-manage {
  color: #b1cd4b;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 50px;
}
.text-infor-company1 .text-posision {
  color: #b1cd4b;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
}
.skin-green1-1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 200px;
}
.skin-green1-1 .text-skin {
  color: #b1cd4b;
  font-size: 25px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
}
.skin-green1-1 .content-green {
  color: #b1cd4b;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 50px;
}
.skin-green1-1 .text-name-manage {
  color: #b1cd4b;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 50px;
}
.skin-green1-1 .text-posision {
  color: #b1cd4b;
  font-size: 15px;
  font-weight: 400;
  font-family: sans-serif;
}

.content-green-1 {
  text-align: center;
  color: white;
  background-color: #a0be34;
  font-family: sans-serif;
}
.content-green-1 .text-content-green {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 100px;
}
.content-green-1 .text-name-actor {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 50px;
}
.img-banner img {
  width: 100%;
  height: auto;
}

.text-something {
  margin-top: 150px;
  text-align: center;
  color: #a0be34;
}

.img-icon1 {
  margin-top: 150px;
  text-align: center;
}

.text-something2 {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
  color: #a0be34;
}

.img-icon2 {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.day-something {
  font-family: sans-serif;
  font-weight: 400;
}
.text-somethings {
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
.content-something {
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 30px;
}
.footer {
  background-color: #a0be34;
}

.footer-1-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-1-1 .content-footer {
  margin-left: 30px;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: 400;
}
.footer-1-1 h1 {
  text-transform: uppercase;
  color: antiquewhite;
  font-size: 25px;
  margin-left: 30px;
}

.footer-1-1 .menu-about ul li {
  list-style: none;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: 600;
}

/*responsive*/
@media (max-width: 600px) {
  .skin-care {
    margin-bottom: 50px;
    text-align: center;
  }
  .text-skin-care {
    margin-top: 50px;
  }
  .skin-green1-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .skin-care {
    margin-bottom: 50px;
    text-align: center;
  }
  .text-skin-care {
    margin-top: 50px;
  }
  .skin-green1-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
