{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="header container-lg">
      <div class="logo col-12 col-sm-12 col-lg-6">
        <img src="{% static 'img/logo.png' %}" alt="image logo" />
      </div>
      <div class="menu col-12 col-sm-12 col-lg-6">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Shop</a></li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

    <div class="center-page">
      <div class="container-fluid viewpage1">
        <div class="row">
          <div class="img-face col-12 col-sm-12 col-lg-6">
            <img
              src="{% static 'img/face1.jpg' %}"
              alt="My image"
              width="100%"
              height="auto"
            />
          </div>
          <div class="text-skin col-12 col-sm-12 col-lg-6">
            <div class="skin-care">
              <div class="text-skin-care">
                Skin <br />
                care
              </div>
              <div class="text-infor-care">
                Lorem ipsum dolor sit amet consectetur<br />
                adipisicing elit, sed do eiusmod <br />tempor incididunt ut
                labore et dolore manga
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-lg viewpage2">
        {% block content %}
        <div class="text-list-product row">List product</div>
        <div class="list-product row">
           {% for productsss in product_data %}
          <div class="product col-12 col-sm-12 col-lg-3">
            <div class="product-view">
              <img
                src="https://media.allure.com/photos/611bce6c484ae50ab1ca36ab/1:1/w_2000,h_2000,c_limit/Tony%20Moly%20I_m-Rice-Cleanser.jpg"
                alt=""
              />
              <div class="infor-product">
                <p>{{ productsss.nameproduct }}</p> 
                <strong>{{ productsss.price }}</strong>
              </div>
              <div class="button">
                <button>Add to cart</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endblock %}
  
      </div>
      <div class="container-fluid viewpage3">
        <div class="prototies row">
          <div class="text-prototies col-12 col-sm-12 col-lg-12">
            Priorities go first
          </div>
          <div class="content-prototies col-12 col-sm-12 col-lg-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
            eiusmod <br />tempor incididunt ut labore et dolore manga Lorem
            ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod
            <br />tempor incididunt ut labore et dolore manga
          </div>
        </div>
      </div>
      <div class="container-lg viewpage4">
        <div class="infor-company1 row">
          <div class="image-face2 col-12 col-sm-12 col-lg-6">
            <div class="img-theface">
              <img src="{% static 'img/the-face-1.jpg' %}" alt="" />
            </div>
          </div>
          <div class="text-infor col-12 col-sm-12 col-lg-6">
            <div class="text-infor-company1">
              <div class="text-company">Company</div>
              <div class="text-name-company">
                "Lorem ipsum dolor sit amet<br />
                consectetur adipisicing elit, <br />sed do eiusmod"
              </div>
              <div class="text-name-manage">Adam Johns</div>
              <div class="text-posision">account-manage</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-lg viewpage5">
        <div class="skin-green row">
          <div class="skin-green1 col-12 col-sm-12 col-lg-4">
            <div class="skin-green1-1">
              <div class="img-tree-green">
                <img src="{% static 'img/green1-tree.png' %}" alt="" />
              </div>
              <div class="text-skin">Skin</div>
              <div class="content-green">
                Lorem ipsum dolor sit amet <br />consectetur adipisicing
                elit,<br />
                sed do eiusmod
              </div>
              <div class="text-name-manage">Adam Johns</div>
              <div class="text-posision">account-manage</div>
            </div>
          </div>
          <div class="skin-green1 col-12 col-sm-12 col-lg-4">
            <div class="skin-green1-1">
              <div class="img-tree-green">
                <img src="{% static 'img/green2-tree.png' %}" alt="" />
              </div>
              <div class="text-skin">Skin</div>
              <div class="content-green">
                Lorem ipsum dolor sit amet <br />consectetur adipisicing
                elit,<br />
                sed do eiusmod
              </div>
              <div class="text-name-manage">Adam Johns</div>
              <div class="text-posision">account-manage</div>
            </div>
          </div>
          <div class="skin-green1 col-12 col-sm-12 col-lg-4">
            <div class="skin-green1-1">
              <div class="img-tree-green">
                <img src="{% static 'img/green3-tree.png' %}" alt="" />
              </div>
              <div class="text-skin">Skin</div>
              <div class="content-green">
                Lorem ipsum dolor sit amet <br />consectetur adipisicing
                elit,<br />
                sed do eiusmod
              </div>
              <div class="text-name-manage">Adam Johns</div>
              <div class="text-posision">account-manage</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid viewpage6">
        <div class="content-green-1 row">
          <div class="text-content-green">
            Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
            eiusmod consectetur adipisicing elit, sed do eiusmod <br />Lorem
            ipsum dolor adipisicing elit, sed do eiusmod <br />Lorem ipsum dolor
            sit amet consectetur adipisicing elit, sed adipisicing elit, sed do
            eiusmod <br />
          </div>
          <div class="text-name-actor">Adam Johns</div>
        </div>
      </div>
      <div class="container-fluid viewpage6">
        <div class="img-banner row">
          <img src="{% static 'img/the-face-4.jpg' %}" alt="" />
        </div>
      </div>
      <div class="container-lg viewpage7">
        <div class="something1 row">
          <div class="something1-text col-12 col-sm-12 col-lg-6">
            <div class="text-something">
              <div class="day-something">Projects/20th August</div>
              <div class="text-somethings">Something new has just arrived</div>
              <div class="content-something">
                Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
                eiusmod <br />Lorem ipsum dolor adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
          <div class="something1-icon col-12 col-sm-12 col-lg-6">
            <div class="img-icon1">
              <img src="{% static 'img/icon1.png' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="something1 row">
          <div class="something1-text col-12 col-sm-12 col-lg-6">
            <div class="img-icon1">
              <img src="{% static 'img/icon2.png' %}" alt="" />
            </div>
          </div>
          <div class="something1-icon col-12 col-sm-12 col-lg-6">
            <div class="text-something">
              <div class="day-something">Projects/20th August</div>
              <div class="text-somethings">Something new has just arrived</div>
              <div class="content-something">
                Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
                eiusmod <br />Lorem ipsum dolor adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
        </div>
        <div class="something1 row">
          <div class="something1-text col-12 col-sm-12 col-lg-6">
            <div class="text-something2">
              <div class="day-something">Projects/20th August</div>
              <div class="text-somethings">Something new has just arrived</div>
              <div class="content-something">
                Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
                eiusmod <br />Lorem ipsum dolor adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
          <div class="something1-icon col-12 col-sm-12 col-lg-6">
            <div class="img-icon2">
              <img src="{% static 'img/icon3.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-jumbla container-lg">
        <div class="footer-row1 row">
          <div class="footer-1 col-12 col-sm-12 col-lg-6">
            <div class="footer-1-1">
              <h1>About</h1>
              <div class="content-footer">
                Lorem ipsum dolor sit amet consectetur <br />Lorem ipsum dolor
                adipisicing<br />
                elit, sed do eiusmod Lorem ipsum
              </div>
            </div>
          </div>
          <div class="footer-2 col-12 col-sm-12 col-lg-6">
            <div class="footer-row2 row">
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="about-footer col-12 col-sm-12 col-lg-4">
                <div class="footer-1-1">
                  <h1>About</h1>
                  <div class="menu-about">
                    <ul>
                      <li>Team</li>
                      <li>Join us</li>
                      <li>Ethic</li>
                      <li>Goals</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
