* {
  padding: 0;
  margin: 0;
}
.text-dashboard {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
}
.text-dashboard a {
  color: #fff;
  text-decoration: none;
}
.chose {
  background-color: rgba(33, 30, 30, 0.598);
  height: max-content;
}
.chose-trans {
  margin-bottom: 400px;
}
.chose-trans a {
  text-decoration: none;
}
.list-choose ul li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.list-choose {
  border: rgba(57, 4, 249, 0.728) 1px solid;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgba(57, 4, 249, 0.728);
}
.list-choose:hover {
  background-color: rgba(3, 96, 65, 0.906);
}
.form-post {
  margin-left: 150px;
  margin-top: 100px;
}
.choose-image {
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  font-family: sans-serif;
  font-size: 15px;
  color: rgba(76, 73, 73, 0.63);
}

textarea {
  padding-left: 10px;
  padding-top: 10px;
  border: tomato 1px solid;
}
input[type="button"] {
  width: 200px;
  height: 50px;
  background-color: yellowgreen;
  border-radius: 5px;
  border: yellowgreen;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
input[type="button"]:hover {
  background-color: rgba(223, 35, 35, 0.742);
}
