{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="dashboard">
        <div class="row">
          <div class="chose col-12 col-sm-12 col-lg-2">
            <div class="chose-trans">
              <div class="text-dashboard">
                <a href="{% url 'index' %}">Dashboard</a>
              </div>
              <a href="{% url 'postproduct' %}">
                <div class="list-choose">
                  <ul>
                    <li>Post product</li>
                  </ul>
                </div>
              </a>
              <a href="/dfdsf">
                <div class="list-choose">
                  <ul>
                    <li>User</li>
                  </ul>
                </div>
              </a>
              <a href="/fsdfdf">
                <div class="list-choose">
                  <ul>
                    <li>Thống kê</li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
          <div class="view col-12 col-sm-12 col-lg-10">
            <div class="infor-product">
              <div class="row">
                <div class="name-product col-12 col-sm-12 col-lg-2">ID</div>
                <div class="name-product col-12 col-sm-12 col-lg-2">IMAGE</div>
                <div class="name-product col-12 col-sm-12 col-lg-2">
                  name product
                </div>
                <div class="name-product col-12 col-sm-12 col-lg-2">price</div>
                <div class="name-product col-12 col-sm-12 col-lg-3">
                  description
                </div>
              </div>
            </div>
            {% for productssss in product_data %}
            <div class="information-product">
              <div class="row">
                <div class="id-product col-sm-12 col-lg-2">
                  <p>{{productssss.id}}</p>
                </div>
                <div class="img-product col-sm-12 col-lg-2">
                  <img src="{{productssss.image.url}}" width="100px" alt="" />
                </div>
                <div class="name-product col-sm-12 col-lg-2">
                  <p>{{productssss.nameproduct}}</p>
                </div>
                <div class="pice-product col-sm-12 col-lg-2">
                  <p>{{productssss.price}}</p>
                </div>
                <div class="description-product col-sm-12 col-lg-2">
                  <p>{{productssss.description}}</p>
                </div>
              </div>
            </div>
            {% empty %}
            <h3>No photos...</h3>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
