{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/postproduct.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="dashboard">
        <div class="row">
          <div class="chose col-12 col-sm-12 col-lg-2">
            <div class="chose-trans">
              <div class="text-dashboard">
                <a href="{% url 'index' %}">Dashboard</a>
              </div>
              <a href="#">
                <div class="list-choose">
                  <ul>
                    <li>Post product</li>
                  </ul>
                </div>
              </a>
              <a href="/dfdsf">
                <div class="list-choose">
                  <ul>
                    <li>User</li>
                  </ul>
                </div>
              </a>
              <a href="/fsdfdf">
                <div class="list-choose">
                  <ul>
                    <li>Thống kê</li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
          <div class="view col-12 col-sm-12 col-lg-10">
            <div class="form-post">
              <h1>Post Product</h1>
              <p>You can post product</p>
              <form
                action="{% url 'postproduct' %}"
                method="post"
                enctype="multipart/form-data"
              >
                <!-- <p>Name product</p>
                <input type="text" />
                <p>Price product</p>
                <input type="number" />
                <p>Description</p>
                <textarea
                  id="w3review"
                  name="w3review"
                  rows="4"
                  cols="50"
                ></textarea>
                <p>Choose image</p>
                <div class="choose-image">
                  <input type="file" />
                </div> -->
                {% csrf_token %} {{ form.as_p }}
                <input type="submit" value="Submit" />
                <a href="{% url 'index' %}">
                  <input type="button" value="cancel"
                /></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
